#include "\Edaly_Structures_config\anim_macro.hpp"

class CfgSkeletons
{
	class Default
	{
		isDiscrete = 1;
		skeletonInherit = "";
		skeletonBones[] = {};
	};

	class Shop_F_skeleton: Default
	{
		skeletonInherit = "Default";
		skeletonBones[] =
		{
			"door_1",				"",
			"door_2",				"",
			"door_3",				"",
			"door_4",				"",
			"door_5",				"",

            "glass_1_hide",               "",
            "glass_2_hide",               "",
            "glass_3_hide",               "",
            "glass_4_hide",               ""
		};
	};
};

class CfgModels
{
	class Default
	{
		sectionsInherit = "";
		sections[] = {};
		skeletonName = "";
	};

	class Shop_01_F: Default
	{
		skeletonName = "Shop_F_skeleton";
		sections[] =
		{
			"Shop"
		};
		sectionsInherit = "";
		class Animations
		{
			class door_1_rot
			{
				type			= rotation;
				source			= door_1_source;
				selection		= door_1;
				axis			= door_1_axis;
				memory			= 1;
				minValue		= 0;
				maxValue		= 1;
				angle0			= 0;
				angle1			= -(rad 90);
			};

			class door_2_rot: door_1_rot
			{
				source			= door_2_source;
				selection		= door_2;
				axis			= door_2_axis;
				angle1			= (rad 90);
			};
			class door_3_rot: door_1_rot
			{
				source			= door_3_source;
				selection		= door_3;
				axis			= door_3_axis;
			};
			class door_4_rot: door_1_rot
			{
				source			= door_4_source;
				selection		= door_4;
				axis			= door_4_axis;
				angle1			= (rad 90);
			};
			class door_5_rot: door_1_rot
			{
				source			= door_5_source;
				selection		= door_5;
				axis			= door_5_axis;
				angle1			= (rad 90);
			};

            LOCKED_ANIM(1)
            LOCKED_ANIM(2)
            LOCKED_ANIM(3)
            LOCKED_ANIM(4)
            LOCKED_ANIM(5)

            GLASS_HIDE(1)
            GLASS_HIDE(2)
            GLASS_HIDE(3)
            GLASS_HIDE(4)
		};
	};
	class Shop_02_F : Shop_01_F {};
	class Shop_03_F : Shop_01_F {};
	class Shop_04_F : Shop_01_F {};
};
